/* universel sector  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* goole fonts  */

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* nav-section  */
.nav-section {
}

.nav-parents {
  width: 1600px;
  height: 92px;
  border: solid 1px red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-items {
}
.nav-items ul {
  display: flex;
  gap: 32px;
}
.nav-items li {
  list-style-type: none;
}
.nav-items a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.nav-items li:hover {
  transform: translateY(-6px);
  transition: 0.5s;
}

.nav-parents button {
  padding: 12px 16px;
  width: 166px;
  height: 44px;
  background-color: #469165;
  color: #ffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.nav-parents button:hover {
  transform: translateY(-6px);
  transition: 0.5s;
}

/* hero-section  */
/* .hero-section{}

.hero-contenar{ width:1600px;
    height: 674px; background-image: url("./assets/hero-bg.png"); background-repeat: no-repeat; background-position:center; background-size: cover;  align-items: center; justify-content: center;}

    .hero-heading{ width: 71%;height:500px;  margin: 0px auto; text-align: center; padding: 84px 295px; align-items: center; border: solid 1px red;}

    
    .hero-heading h1{ font-size: 72px; text-align: justify; width: 770px; height: 168px;} */

.hero-contenar {
  width: 100%;
  height: 674px;
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-heading {
  width: 1060px;
  height: 400px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 200px 200px;
  text-align: center;
}

.hero-heading .Early {
  background-color: #ffff;
  width: 300px;
  height: 35px;
  color: #469165;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  padding: 6px 12px;
}

.hero-heading h1 {
  font-size: 72px;
  width: 770px;
  height: 168px;
  text-transform: capitalize;
}
.hero-h {
  color: #ffff;
}

.hero-sp {
  color: #30b868;
}

.hero-heading p {
  font-size: 18px;
  padding-top: 35px;
  color: #ffff;
  text-align: center;
  font-weight: 400;
}
.hero-btn {
}
.btn-2 img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.hero-btn {
}

.btn-1 img{ width: 20px; height: 20px;
margin-left: 10px;}

.btn-1 {
  display: flex;
  width: 250px;
  height: 53px;
  background-color: #30b868;
  color: #ffff;
  border-radius: 4px;
  border: none;
  margin-top: 32px;
  align-items: center;
  justify-content: center;
}

.btn-1:hover{background: transparent; border: solid 1px white;  transform: translateY(-6px);
  transition: 0.5s;}

.tow-btn {
  display: flex;
  gap: 10px;
}

.btn-2 {
  display: flex;

  width: 250px;
  height: 53px;
  background: transparent;
  color: #ffff;
  border-radius: 4px;
  border:solid 1px white;
  margin-top: 32px;
  align-items: center;
  justify-content: center;
  
}
.btn-2:hover{ background-color: #30b868; border: none;  transform: translateY(-6px);
  transition: 0.5s;}

/* notes section  */

.note-contener {
  width: 100%;
  height: 80vh;
  text-align: center;
}

.note-titel {
}
.note-titel h1 {
  font-size: 48px;
  font-weight: bold;
  padding-top: 30px;
}

.note-titel p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  padding-top: 16px;
}
.note-item img {
  background-color: #f95555;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 10px;
}

.note-items {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  width: 1360px;
  height: 300px;
  margin: 0 auto;
  padding-top: 44px;
}

.note-item {
  width: 300px;
  height: 300px;
  border: solid 1px rgb(214, 177, 177);
  padding: 24px;
  background-color: #ffff;
  box-shadow: 10px 10px 10px black;
}

.note-item:hover {
  transform: translateY(-9px);
  transition: 0.4s;
}

/* brain section  */

.brain-section {
}

.brain-contenar image {
  width: 600px;
  height: 600px;
}

.brain-contenar {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brain-titel {
  width: 700px;
  height: 397px;
  padding: 101px 30px 120px 0px;
  margin-bottom: 70px;
}

.brain-titel .green {
  color: #469165;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.brain-titel h1 {
  font-size: 48px;
  font-weight: 730;
  font-style: bold;
  padding-bottom: 16px;
  text-transform: capitalize;
}
.brain-titel .green-2 {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  margin-bottom: 40px;
}

.titel-p {
  align-items: center;
  gap: 30px;
}

.brain-titel p {
  display: flex;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  font-style: medium;
  gap: 6px;
}
